<!-- navegacion -->
<nav class="navbar navbar-light p-2 fixed-top">
    <div class="container-fluid">
        <a class="nav-link active tam-nav-izq" routerLink="/">
            <img src="../../assets/images2/LogoMakr-8NODQ3.svg" class="nav-img-size-left" alt="logo">
        </a>
        <div class="btn-group nav-size-right">
            <div class="navbar-toggler bg-white p-2 rounded-pill d-flex justify-content-center" type="button"
                data-bs-toggle="dropdown">
                <i class="bi bi-person-lines-fill text-secondary opacity-50 dropdown-menu-icon-size"></i>
                &nbsp;&nbsp;
                <img src="../../assets/images2/sin_foto.png" class="rounded-circle nav-img-size-right" alt="avatar">
            </div>
            <ul class="shadow dropdown-menu dropdown-menu-end mt-2 border-index">
                <li><a class="dropdown-item p-3" (click)="openLogin('reservador')">Registrarme</a></li>
                <li><a class="dropdown-item p-3" (click)="openLogin('reservador')">Iniciar sesión</a></li>
                <li><a class="dropdown-item p-3" (click)="openLogin('propietario')">Trabaja con nosotros</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item p-3" (click)="openHelp()">Ayuda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /navegacion -->
