
<!-- footer -->
<footer id="footer" class="top-space text-white">
    <div class="footer1 p-2 pt-3">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-5 widget">
                    <h3 class="widget-title"><img src="../../assets/images2/LogoMakr-8NODQ3.svg" class="nav-img-size-left" alt="logo"></h3>
                    <div class="widget-body mt-5">
                        <p>Nos enfocamos en que las personas de Colombia puedan reservar una habitación
                            a travez de internet de una forma segura y rapida. Tambien nos enfocamos en que las personas
                            que dispongan de una habitacion puedan generar ingresos de una forma rapida y segura.
                            Disfruta de nuestra comunidad de reservadores y propietarios.</p>
                    </div>
                </div>
                <div class="col-md-4 widget d-flex justify-content-center">
                    <div>
                        <h3 class="widget-title">Contactos</h3>
                    <div class="widget-body mt-5">
                        <p>
                            <i class="bi bi-x-diamond-fill me-4"></i>+57 300 215 4024
                            <br><br>
                            <i class="bi bi-x-diamond-fill me-4"></i><a href="mailto:#" class="text-white" id="quitar_raya_enlace">reserhab@gmail.com</a>
                            <br><br>
                            <i class="bi bi-x-diamond-fill me-4"></i> Calle 34 Casa 12, Don Alberto
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Sígueme</h3>
                    <div class="widget-body mt-5">
                        <p class="follow-me-icons">
                            <a href="#" class="rounded-circle me-5"><i class="bi bi-facebook text-white i-co"></i></a>
                            <a href="#" class="rounded-circle link-co me-5"><i class="bi bi-linkedin text-white i-co"></i></a>
                            <a href="#" class="rounded-circle link-co me-5"><i class="bi bi-github text-white i-co"></i></a>
                            <a href="#" class="rounded-circle link-co"><i class="bi bi-youtube text-white i-co"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2 p-2 pt-3">
        <div class="container p-2 mt-4">
            <div class="row">
                <div class="col-md-8 widget">
                    <div class="widget-body">
                        <p class="simplenav text-primary">
                            | <a routerLink="/" class="text-primary" id="quitar_raya_enlace">Inicio</a> 
                            | <a class="text-primary" id="quitar_raya_enlace" (click)="openHelp()">Ayuda</a> 
                            | <a class="text-primary" id="quitar_raya_enlace" (click)="openLogin('propietario')">Trabaja con nosotros</a> 
                            | <b><a class="text-primary" id="quitar_raya_enlace" (click)="openLogin('reservador')">
                                    <b class="text-primary">Iniciar sesion</b>
                                </a></b> |
                        </p>
                    </div>
                </div>
                <div class="col-md-4 widget">
                    <div class="widget-body">
                        <p class="text-primary">
                            &copy; 2022 Reserhab, Inc. Deseñado por <a href="http://softcop.com/" rel="designer"
                                class="text-primary" id="quitar_raya_enlace"><b>softcop</b></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
