
<!-- modal para agragar la contraseña de inicio de sesión -->
<div class="modal-header">
    <div class="col-1">
        <a data-bs-toggle="modal" (click)="returnModal()">
            <i class="bi bi-arrow-left-short
            text-secondary mx-auto my-auto p-2 pt-5"  style="font-size: 2rem;"></i>
        </a>
    </div>
    <div class="col-9">
        <h5 class="modal-title text-center" id="exampleModalLabel">Inicia sesión</h5>
    </div>
    <div class="col-1"></div>
</div>
<div class="modal-body">
    <form class="p-3 pt-2">
        <div class="mb-3">
            <div class="form-floating">
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="floatingInputPassword1" aria-describedby="emailHelp" placeholder="Password" required>
                <label for="floatingInputPassword1" class="text-secondary" aria-placeholder="emailHelp" id="emailHelp">
                    Contraseña
                    <span class="text-danger">*</span>
                </label>
                <div id="emailHelp" class="form-text">
                    Debe incluir minimo 8 caracteres.
                </div>
            </div>
            <div class="bg-light p-2 m-2" *ngIf="message">
                <span class="text-danger small">{{ message }}</span> 
            </div>
        </div>
        <div class="position-relative pb-3">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" type="button" (click)="login()">
                    <b>ACEPTAR</b>
                </button>
            </div>
        </div>
        <a href="./view/forgot-password.html" class="pt-2 text-dark">¿Se le olvido la contraseña?</a>
        <div style="height: 6rem;"></div>
    </form>
</div>
<!-- modal para agragar la contraseña de inicio de sesión -->