
<!-- iniciar sesión o registrarme con celular -->

<div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option selected class="text-secondary">(+57) Colombia</option>
    </select>
    <label for="floatingSelect">País</label>
</div>
<div class="form-floating">
    <input type="txt" class="form-control" id="floatingInputText1"
        placeholder="name@example.com" required>
    <label for="floatingInputText1" class="text-secondary" id="emailHelp">
        Número de celular
        <span class="text-danger">*</span>
    </label>
</div>
<div id="emailHelp" class="form-text">
    El celular debe incluir 10 digitos.
</div>

<!-- iniciar sesión o registrarme con celular -->
