
section{
    border-radius: .8em;
    height: 50vh;
    width: 85vw;
    font-size: 1.6em;
    margin: 2.5em;
    background: var(--sd-blue);
}

.carousel{
    border-radius: .8em;
    width: 85vw;
}

img{
    border-radius: .8em;
}

.box-info{
    height: 16.5em;
    background: var(--second-blue);
}

h1{
    color: var(--first-blue);
}

.highlits-icon-size {
    font-size: 4rem;
}
